<a href="https://colab.research.google.com/github/yfirdaws/RFM-analysis/blob/main/RFM_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#https://www.kaggle.com/ilkeryildiz/online-retail-listing

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("/content/online_retail_listing.csv",delimiter=";",encoding="latin-1")

In [4]:
df.head()

  Invoice StockCode  ... Customer ID         Country
0  489434     85048  ...     13085.0  United Kingdom
1  489434    79323P  ...     13085.0  United Kingdom
2  489434    79323W  ...     13085.0  United Kingdom
3  489434     22041  ...     13085.0  United Kingdom
4  489434     21232  ...     13085.0  United Kingdom

[5 rows x 8 columns]

In [5]:
df.shape

(24664, 8)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24664 entries, 0 to 24663
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      24664 non-null  object
 1   StockCode    24664 non-null  object
 2   Description  24614 non-null  object
 3   Quantity     24663 non-null  float64
 4   InvoiceDate  24663 non-null  object
 5   Price        24663 non-null  object
 6   Customer ID  18498 non-null  float64
 7   Country      24663 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.5+ MB

In [7]:
df.describe()

           Quantity   Customer ID
count  24663.000000  18498.000000
mean       8.768479  15460.002649
std       68.284244   1629.322747
min    -1043.000000  12349.000000
25%        1.000000  14087.000000
50%        3.000000  15494.000000
75%        8.000000  16887.000000
max     5184.000000  18287.000000

In [8]:
df.nunique()

Invoice        1207
StockCode      2736
Description    2718
Quantity        163
InvoiceDate    1070
Price           222
Customer ID     750
Country          22
dtype: int64

In [9]:
df["Customer ID"]=df["Customer ID"].astype("object")

In [10]:
def myfunction(column):
    if isinstance(column,str):
        a=column.replace(",",".")
        return a

In [11]:
df["Price"] = df["Price"].apply(myfunction)
df["Price"] = df["Price"].astype(float)

In [12]:
df.head()

  Invoice StockCode  ... Customer ID         Country
0  489434     85048  ...       13085  United Kingdom
1  489434    79323P  ...       13085  United Kingdom
2  489434    79323W  ...       13085  United Kingdom
3  489434     22041  ...       13085  United Kingdom
4  489434     21232  ...       13085  United Kingdom

[5 rows x 8 columns]

In [13]:
df["Total"] = df["Quantity"]*df["Price"]
df.head()

  Invoice StockCode  ...         Country  Total
0  489434     85048  ...  United Kingdom   83.4
1  489434    79323P  ...  United Kingdom   81.0
2  489434    79323W  ...  United Kingdom   81.0
3  489434     22041  ...  United Kingdom  100.8
4  489434     21232  ...  United Kingdom   30.0

[5 rows x 9 columns]

In [14]:
df.groupby("Description").agg({"Quantity":"sum"}).head()

                                Quantity
Description
 3 STRIPEY MICE FELTCRAFT          167.0
 ANIMAL STICKERS                   120.0
 BLACK PIRATE TREASURE CHEST        28.0
 BROWN  PIRATE TREASURE CHEST       27.0
 Bank Charges                        0.0

In [15]:
df.dropna(subset=["Customer ID"],how='all',inplace=True)
df.shape

(18498, 9)

In [16]:
def rem(column):
    if isinstance(column,str):
        a=column.replace(".","-")
        return a

df["InvoiceDate"]=df["InvoiceDate"].apply(rem)
df["InvoiceDate"].head()

0    1-12-2009 07:45
1    1-12-2009 07:45
2    1-12-2009 07:45
3    1-12-2009 07:45
4    1-12-2009 07:45
Name: InvoiceDate, dtype: object

In [17]:
df["InvoiceDate"]=pd.to_datetime(df["InvoiceDate"])

In [18]:
df.head()

  Invoice StockCode  ...         Country  Total
0  489434     85048  ...  United Kingdom   83.4
1  489434    79323P  ...  United Kingdom   81.0
2  489434    79323W  ...  United Kingdom   81.0
3  489434     22041  ...  United Kingdom  100.8
4  489434     21232  ...  United Kingdom   30.0

[5 rows x 9 columns]

In [19]:
df.groupby("Invoice").agg({"Total":"sum"}).head()

           Total
Invoice
489434    505.30
489435    145.80
489436    630.33
489437    310.75
489438   2286.24

In [20]:
#What is the most returned product? 
returned = df[df["Invoice"].str.contains("C",na=False)]
returned.sort_values("Quantity", ascending = True).head()

      Invoice StockCode  ...         Country   Total
9323  C490133     20971  ...  United Kingdom -636.00
9324  C490133     21314  ...  United Kingdom -932.40
9322  C490133    72045D  ...  United Kingdom -851.76
9325  C490133     21314  ...  United Kingdom -466.20
9326  C490133     21314  ...  United Kingdom -455.10

[5 rows x 9 columns]

In [21]:
df=df[df["Invoice"].str.contains("C")==False]

In [67]:
df[df['Invoice']>0]

TypeError: ignored

In [22]:
df.head()

  Invoice StockCode  ...         Country  Total
0  489434     85048  ...  United Kingdom   83.4
1  489434    79323P  ...  United Kingdom   81.0
2  489434    79323W  ...  United Kingdom   81.0
3  489434     22041  ...  United Kingdom  100.8
4  489434     21232  ...  United Kingdom   30.0

[5 rows x 9 columns]

In [23]:
df.shape

(17885, 9)

In [24]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
Total          0
dtype: int64

RECENCY

In [25]:

df_recency = df.groupby(by='Customer ID',
                        as_index=False)['InvoiceDate'].max()
df_recency

     Customer ID         InvoiceDate
0        12358.0 2009-08-12 07:59:00
1        12359.0 2009-05-12 13:32:00
2        12362.0 2009-01-12 10:10:00
3        12417.0 2009-10-12 11:25:00
4        12435.0 2009-02-12 13:58:00
..           ...                 ...
669      18229.0 2009-03-12 14:42:00
670      18259.0 2009-08-12 08:38:00
671      18271.0 2009-08-12 11:27:00
672      18275.0 2009-08-12 16:23:00
673      18276.0 2009-10-12 17:14:00

[674 rows x 2 columns]

In [26]:
df_recency.columns = ['CustomerID','LastPurchaseDate']
recent_date = df_recency['LastPurchaseDate'].max()
df_recency['Recency'] = df_recency['LastPurchaseDate'].apply(
    lambda x: (recent_date - x).days)
df_recency.head()

   CustomerID    LastPurchaseDate  Recency
0     12358.0 2009-08-12 07:59:00       61
1     12359.0 2009-05-12 13:32:00      153
2     12362.0 2009-01-12 10:10:00      273
3     12417.0 2009-10-12 11:25:00        0
4     12435.0 2009-02-12 13:58:00      242

In [27]:
df_recency.drop(columns=['LastPurchaseDate'],inplace=True)

FREQUENCY

In [28]:
df.duplicated().sum()

268

In [29]:
frequency_df = df.drop_duplicates().groupby(
    by=['Customer ID'], as_index=False)['InvoiceDate'].count()
frequency_df.columns = ['Customer ID', 'Frequency']
frequency_df.head()

   Customer ID  Frequency
0      12358.0         17
1      12359.0         32
2      12362.0          1
3      12417.0         19
4      12435.0          1

MONETARY

In [30]:
df_monetary=df.groupby(["Customer ID"],as_index=False)["Total"].sum()

In [31]:
df_monetary.columns = ['Customer ID', 'Monetary']
df_monetary.head()

   Customer ID  Monetary
0      12358.0   1429.83
1      12359.0    760.69
2      12362.0    130.00
3      12417.0    317.60
4      12435.0   1008.00

In [32]:
rfm = pd.concat([df_recency, frequency_df['Frequency'], df_monetary['Monetary']],  axis=1)
rfm.head()

   CustomerID  Recency  Frequency  Monetary
0     12358.0       61         17   1429.83
1     12359.0      153         32    760.69
2     12362.0      273          1    130.00
3     12417.0        0         19    317.60
4     12435.0      242          1   1008.00

SEGMENT BASED ON RFM

In [33]:
#analyse based on best customers..tier 1 in everything,big spenders,low active spenders, churned best customers( (they transacted frequently and spent a lot, but its been a long time since theyve transacted).)

In [34]:
rfm['Monetary'] = rfm['Monetary'].fillna(0)

In [35]:
rfm["R"] = pd.cut(rfm["Recency"], 
                                       bins=[-1, 
                                         np.percentile(rfm["Recency"], 25), 
                                             np.percentile(rfm["Recency"], 50), 
                                             np.percentile(rfm["Recency"], 75), 
                                            rfm["Recency"].max()], 
                                       labels=[4, 3, 2, 1]).astype("int")

In [36]:
#4 is lowest and 1 is max

In [37]:
rfm.head()

   CustomerID  Recency  Frequency  Monetary  R
0     12358.0       61         17   1429.83  4
1     12359.0      153         32    760.69  2
2     12362.0      273          1    130.00  1
3     12417.0        0         19    317.60  4
4     12435.0      242          1   1008.00  1

In [38]:
rfm["F"] = pd.cut(rfm["Frequency"], 
                                       bins=[-1, 
                                         np.percentile(rfm["Frequency"], 25), 
                                             np.percentile(rfm["Frequency"], 50), 
                                             np.percentile(rfm["Frequency"], 75), 
                                            rfm["Frequency"].max()], 
                                       labels=[1, 2, 3, 4]).astype("int")

In [39]:
rfm.head()

   CustomerID  Recency  Frequency  Monetary  R  F
0     12358.0       61         17   1429.83  4  2
1     12359.0      153         32    760.69  2  3
2     12362.0      273          1    130.00  1  1
3     12417.0        0         19    317.60  4  3
4     12435.0      242          1   1008.00  1  1

In [40]:
rfm["M"] = pd.cut(rfm["Monetary"], 
                                       bins=[-1, 
                                         np.percentile(rfm["Monetary"], 25), 
                                             np.percentile(rfm["Monetary"], 50), 
                                             np.percentile(rfm["Monetary"], 75), 
                                            rfm["Monetary"].max()], 
                                       labels=[1,2,3,4]).astype("float")

In [41]:
rfm.head()

   CustomerID  Recency  Frequency  Monetary  R  F    M
0     12358.0       61         17   1429.83  4  2  4.0
1     12359.0      153         32    760.69  2  3  4.0
2     12362.0      273          1    130.00  1  1  1.0
3     12417.0        0         19    317.60  4  3  3.0
4     12435.0      242          1   1008.00  1  1  4.0

In [42]:
#labels moving from lowest to highest for f and m

In [43]:
'''rfm["R"]  = pd.qcut(rfm["Recency"], 5, labels = [ 4 , 3, 2, 1])
rfm["F"]= pd.qcut(rfm["Frequency"].rank(method="first"),5, labels=[1,2,3,4])
rfm["M"] = pd.qcut(rfm['Monetary'], 5, labels = [4,3,2,1])
rfm.head()'''

'rfm["R"]  = pd.qcut(rfm["Recency"], 5, labels = [ 4 , 3, 2, 1])\nrfm["F"]= pd.qcut(rfm["Frequency"].rank(method="first"),5, labels=[1,2,3,4])\nrfm["M"] = pd.qcut(rfm[\'Monetary\'], 5, labels = [4,3,2,1])\nrfm.head()'

In [68]:
rfm["RFM_SCORE"] = (rfm['R'].astype(str) + 
                    rfm['F'].astype(str) + 
                    rfm['M'].astype(str))

In [45]:
# Calculate RFM_Score
'''rfm['RFM_Score'] = rfm[['R','F','M']].sum(axis=1)'''

In [69]:
rfm.head()

   CustomerID  Recency  Frequency  ...  RFM_Score           RFM_Level  RFM_SCORE
0     12358.0       61         17  ...       10.0    Can't Loose Them      424.0
1     12359.0      153         32  ...        9.0    Can't Loose Them      234.0
2     12362.0      273          1  ...        3.0  Require Activation      111.0
3     12417.0        0         19  ...       10.0    Can't Loose Them      433.0
4     12435.0      242          1  ...        6.0           Potential      114.0

[5 rows x 10 columns]

In [47]:
#The RFM scores give us 4raised to 3 = segments. Which is not easy to work with.
#I am going to work with 8 segments based on the R and F scores

In [48]:
#rfm[rfm['quantity']>0]  removes negative value

In [50]:
def rfm_level(df):
    if df['RFM_Score'] >= 9:
        return "Can't Loose Them" #used to purcahse often..need to bring them back
    elif ((df['RFM_Score'] >= 8) and (df['RFM_Score'] < 9)):
        return 'Champions' #bought most recently and often with high purchase
    elif ((df['RFM_Score'] >= 7) and (df['RFM_Score'] < 8)):
        return 'Loyal' #visit more bu less purchase
    elif ((df['RFM_Score'] >= 6) and (df['RFM_Score'] < 7)):
        return 'Potential' #urhase more but no does not vsit often
    elif ((df['RFM_Score'] >= 5) and (df['RFM_Score'] < 6)):
        return 'Promising' #chances of becoming loyal or potential needs to visit and purchase more
    elif ((df['RFM_Score'] >= 4) and (df['RFM_Score'] < 5)):
        return 'Needs Attention' #can turn to churned customers..puhase and visit below average
    else:
        return 'Require Activation'  #churned basically..

In [51]:
# Create a new variable RFM_Level
rfm['RFM_Level'] = rfm.apply(rfm_level, axis=1)

In [70]:
rfm.head()

   CustomerID  Recency  Frequency  ...  RFM_Score           RFM_Level  RFM_SCORE
0     12358.0       61         17  ...       10.0    Can't Loose Them      424.0
1     12359.0      153         32  ...        9.0    Can't Loose Them      234.0
2     12362.0      273          1  ...        3.0  Require Activation      111.0
3     12417.0        0         19  ...       10.0    Can't Loose Them      433.0
4     12435.0      242          1  ...        6.0           Potential      114.0

[5 rows x 10 columns]

In [71]:
rfm.to_csv('RFM_analysis_online_retails.csv')